body {
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.color1 {
    color: #F94102;
}

section {
    display: flex;
    margin-bottom: 130px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 200;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(aqua, orange);
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 8px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-section {
    display: flex;
}

.dream {
    color: rgb(47, 0, 255);
}

.half-width2 {
    width: 50%;
    padding: 0%;
}

.second-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.flex {
    display: flex;
}

.padding-s {
    padding: 5%;
}

.sec {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.width3 {
    box-shadow: 3px 3px 30px #F94102;
    width: 30%;
    padding: 4%;
    margin-left: 9%;
    margin-right: 4px;
    border-radius: 5%;
}

.ex {
    margin-left: 5%;
}

.last-color {
    color: #F94102;
}

footer p {
    text-align: center;
}